.bigfoot{
  height: 220px;
  width: 100%;
  background-color: black;
  border-top: 1px white solid;
  display: flex;
  font-family: $secondfont;
  font-size: 12px;
  .left{
    flex: 3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .footerlogo{
      width: 180px;
      height: auto;
      margin-right: 20px;
    }
  }
  .middle{
    flex: 6;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .middleholder{
      display: flex;
      padding-left: 10px;
      align-items: center;
      .circle{
        height:4px;
        width:4px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        margin-top: 10px;
      }
      .footerwords{
        color: $pink;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
      }
    }
    .middlebottom{
      display: flex;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      .footerwords{
        color: $pink;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
      }
      .lonelywords{
        margin-left: 10px;
        margin-top: 20px;
        color: white;
      }
    }
  }
  .right{
    flex: 4;
    background-color: green;
    opacity: .5;
    height: 100%;
    width: 100%;
  }
}