.dropdownholder{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 15px;
  .title{
    color: white;
    font-family: $primefont;
    font-size: 13px;
    font-weight: 900;
    transform: scale(1, 1.6);
    letter-spacing: .12em;
  }
  .arrowdown {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #FC0078;
    margin-left: 10px;
  }
}