.outtiedrop{
  position: relative;
  height: 100%;
  padding-right: 10px;
  &:hover{
    background: #202020;
  }
  .dropdownholder{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    &:hover{
      cursor: pointer;
      .arrowdown{
        width: 0; 
        height: 0; 
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid rgb(196, 196, 196);
        margin-left: 10px;
        transform: translateY(5px);
      }
    }
    .title{
      color: white;
      font-family: $primefont;
      font-size: 13px;
      font-weight: 900;
      transform: scale(1, 1.6);
      letter-spacing: .12em;
    }
    .arrowdown {
      width: 0; 
      height: 0; 
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $pink;
      margin-left: 10px;
      transform: translateY(5px);
    }
  }
  .nono{
    display: none;
  }
  .ddholder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background: #202020;
    font-family: $secondfont;
    font-size: 11px;
    .dadropdownbig{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 270px;
      background: #202020;
      margin-bottom: 10px;
      .dditems{
        width: 70px;
        height: 30px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        &:hover{
          color: rgb(196, 196, 196);
          cursor: pointer;
        }
      }
    }
    .dadropdownmed{
      display: flex;
      flex-wrap: wrap;
      width: 180px;
      background: #202020;
      margin-bottom: 10px;
      .dditems{
        width: 70px;
        height: 30px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        &:hover{
          color: rgb(196, 196, 196);
          cursor: pointer;
        }
      }
    }
    .dadropdownsm{
      display: flex;
      flex-wrap: wrap;
      width: 90px;
      background: #202020;
      margin-bottom: 10px;
      .dditems{
        width: 70px;
        height: 30px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        &:hover{
          color: rgb(196, 196, 196);
          cursor: pointer;
        }
      }
    }
    .greybar{
      background-color: #5D5D5D;
      height: 1px; 
      width: calc(100% - 20px);
      margin: auto;
    }
    .all{
      margin-top: 7px;
      margin-left: 10px;
      margin-bottom: 10px;
      color: $pink;
      &:hover{
        color: white;
        cursor: pointer;
      }
    }
  }
}