.bigleft{
  width: 73%;
  height: 380px;
  background-color: black;
  display: flex;
}
.bigright{
  width: 73%;
  height: 325px;
  background-color: black;
}
.lilleft{
  width: 25%;
  height: 325px;
  background-color: black;
}
.lilright{
  width: 25%;
  height: 380px;
  background-color: black;
}
.medleft{
  width: 32%;
  height: 340px;
  background-color: black;
}
.medmid{
  width: 32%;
  height: 340px;
  background-color: black;
}
.medright{
  width: 32%;
  height: 340px;
  background-color: black;
}