@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Raleway:600');

$primefont: 'Barlow Semi Condensed', sans-serif;
$secondfont: 'Raleway', sans-serif;

$pink: #FC0078;
$hoverpink: rgb(186, 0, 90);