@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");
@import url("https://fonts.googleapis.com/css?family=Raleway:600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.outtie {
  height: 300px;
  width: 100%;
  background-image: url("../assets/vergeclonebackground.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #333333; }
  .outtie .hero {
    height: 165px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .outtie .hero .logo {
      width: 720px;
      height: auto; }
    .outtie .hero .herotext {
      margin-top: 20px;
      color: white;
      font-family: "Barlow Semi Condensed", sans-serif;
      font-size: 13px;
      font-weight: 900;
      transform: scale(1, 1.6);
      letter-spacing: .12em; }

.nav {
  height: 45px;
  width: 100%;
  background-color: #000000;
  border-top: .5px #363636 solid;
  border-bottom: .5px #363636 solid;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .nav .bigholder {
    height: 100%;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white; }
    .nav .bigholder .holder {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white;
      position: relative; }
      .nav .bigholder .holder .p {
        margin-right: 15px;
        color: #FC0078;
        transform: translateX(10px); }
        .nav .bigholder .holder .p:hover {
          color: #cecece;
          cursor: pointer; }
      .nav .bigholder .holder .w {
        color: white;
        margin-right: 20px; }
        .nav .bigholder .holder .w:hover {
          color: #cecece;
          cursor: pointer; }
      .nav .bigholder .holder .userholder {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        height: 100%;
        margin-right: 10px; }
        .nav .bigholder .holder .userholder .w {
          color: white;
          margin-right: 20px; }
          .nav .bigholder .holder .userholder .w:hover {
            color: #cecece;
            cursor: pointer; }
        .nav .bigholder .holder .userholder .nono {
          display: none; }
        .nav .bigholder .holder .userholder .userdropdown {
          position: fixed;
          transform: translate(-21px, 73px);
          background-color: #202020;
          font-family: "Raleway", sans-serif;
          font-size: 11px;
          height: 100px;
          width: 80px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .nav .bigholder .holder .userholder .userdropdown .greybar {
            background-color: #5D5D5D;
            height: 1px;
            width: calc(100% - 20px);
            margin: auto; }
          .nav .bigholder .holder .userholder .userdropdown .userwords {
            margin: 15px; }
        .nav .bigholder .holder .userholder:hover {
          background-color: #202020; }

.outtiedrop {
  position: relative;
  height: 100%;
  padding-right: 10px; }
  .outtiedrop:hover {
    background: #202020; }
  .outtiedrop .dropdownholder {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px; }
    .outtiedrop .dropdownholder:hover {
      cursor: pointer; }
      .outtiedrop .dropdownholder:hover .arrowdown {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #c4c4c4;
        margin-left: 10px;
        transform: translateY(5px); }
    .outtiedrop .dropdownholder .title {
      color: white;
      font-family: "Barlow Semi Condensed", sans-serif;
      font-size: 13px;
      font-weight: 900;
      transform: scale(1, 1.6);
      letter-spacing: .12em; }
    .outtiedrop .dropdownholder .arrowdown {
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #FC0078;
      margin-left: 10px;
      transform: translateY(5px); }
  .outtiedrop .nono {
    display: none; }
  .outtiedrop .ddholder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    background: #202020;
    font-family: "Raleway", sans-serif;
    font-size: 11px; }
    .outtiedrop .ddholder .dadropdownbig {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 270px;
      background: #202020;
      margin-bottom: 10px; }
      .outtiedrop .ddholder .dadropdownbig .dditems {
        width: 70px;
        height: 30px;
        margin-left: 10px;
        display: flex;
        align-items: center; }
        .outtiedrop .ddholder .dadropdownbig .dditems:hover {
          color: #c4c4c4;
          cursor: pointer; }
    .outtiedrop .ddholder .dadropdownmed {
      display: flex;
      flex-wrap: wrap;
      width: 180px;
      background: #202020;
      margin-bottom: 10px; }
      .outtiedrop .ddholder .dadropdownmed .dditems {
        width: 70px;
        height: 30px;
        margin-left: 10px;
        display: flex;
        align-items: center; }
        .outtiedrop .ddholder .dadropdownmed .dditems:hover {
          color: #c4c4c4;
          cursor: pointer; }
    .outtiedrop .ddholder .dadropdownsm {
      display: flex;
      flex-wrap: wrap;
      width: 190px;
      background: #202020;
      margin-bottom: 10px; }
      .outtiedrop .ddholder .dadropdownsm .dditems {
        width: 70px;
        height: 30px;
        margin-left: 10px;
        display: flex;
        align-items: center; }
        .outtiedrop .ddholder .dadropdownsm .dditems:hover {
          color: #c4c4c4;
          cursor: pointer; }
    .outtiedrop .ddholder .dadropdownmini {
      display: flex;
      flex-wrap: wrap;
      width: 85px;
      background: #202020;
      margin-bottom: 10px; }
      .outtiedrop .ddholder .dadropdownmini .dditems {
        width: 70px;
        height: 30px;
        margin-left: 10px;
        display: flex;
        align-items: center; }
        .outtiedrop .ddholder .dadropdownmini .dditems:hover {
          color: #c4c4c4;
          cursor: pointer; }
    .outtiedrop .ddholder .greybar {
      background-color: #5D5D5D;
      height: 1px;
      width: calc(100% - 20px);
      margin: auto; }
    .outtiedrop .ddholder .all {
      margin-top: 7px;
      margin-left: 10px;
      margin-bottom: 10px;
      color: #FC0078; }
      .outtiedrop .ddholder .all:hover {
        color: white;
        cursor: pointer; }

.bigfoot {
  height: 220px;
  width: 100%;
  background-color: black;
  border-top: 1px white solid;
  display: flex; }
  .bigfoot .left {
    flex: 3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .bigfoot .left .footerlogo {
      width: 180px;
      height: auto;
      margin-right: 20px; }
  .bigfoot .middle {
    flex: 6;
    background-color: blue;
    opacity: .5;
    height: 100%;
    width: 100%; }
    .bigfoot .middle .middleholder {
      display: flex; }
    .bigfoot .middle .footerwords {
      color: #FC0078; }
  .bigfoot .right {
    flex: 4;
    background-color: green;
    opacity: .5;
    height: 100%;
    width: 100%; }
