@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.outtie {
  height: 300px;
  width: 100%;
  background-image: url("../assets/vergeclonebackground.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #333333; }
  .outtie .hero {
    height: 165px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .outtie .hero .logo {
      width: 720px;
      height: auto; }
    .outtie .hero .herotext {
      margin-top: 20px;
      color: white;
      font-family: "Barlow Semi Condensed", sans-serif;
      font-size: 13px;
      font-weight: 900;
      transform: scale(1, 1.6);
      letter-spacing: .12em; }

.nav {
  height: 45px;
  width: 100%;
  background-color: #000000;
  border-top: .5px #363636 solid;
  border-bottom: .5px #363636 solid;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .nav .bigholder {
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white; }
    .nav .bigholder .holder {
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: white; }
      .nav .bigholder .holder .p {
        margin-right: 15px;
        color: #FC0078; }
      .nav .bigholder .holder .w {
        color: white;
        margin-right: 20px; }

.dropdownholder {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 15px; }
  .dropdownholder .title {
    color: white;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 13px;
    font-weight: 900;
    transform: scale(1, 1.6);
    letter-spacing: .12em; }
  .dropdownholder .arrowdown {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #FC0078;
    margin-left: 10px; }
